<div class='margins'>
  <h1>New CheatSheet</h1>
  <%= form_with(model: @cheatsheet, local: true) do |form| %>
    <%= render 'shared/cheatsheet_error_messages' %> 
    <div class='labels'>
      <div class='form-field'>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
      </div>

      <div class='form-field'>
        <%= form.label :description %><br>
        <%= form.text_area :description %>
      </div>

      <div class='form-field submit'>
        <%= form.submit %>
      </div>
    </div>
  <% end %>
</div>
