<div class='margins'>
  <h1>New CheatSheet</h1>
  <%= form_with(model: @cheatsheet, local: true) do |form| %>

    <% if @cheatsheet.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@cheatsheet.errors.count, "error") %> prohibited
          this cheatsheet from being saved:
        </h2>
        <ul>
          <% @cheatsheet.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class='labels'>
      <div class='form-field'>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
      </div>

      <div class='form-field'>
        <%= form.label :description %><br>
        <%= form.text_area :description %>
      </div>

      <div class='form-field submit'>
        <%= form.submit %>
      </div>
    </div>
  <% end %>
</div>
