
<p>
  <strong>Title:</strong>
    <%= @cheatsheet.title %>
</p>

<p>
<strong>Description:</strong>
<%= @cheatsheet.description %>
</p>

<%= link_to 'Back', cheatsheets_path %>
<%= link_to 'Edit', edit_cheatsheet_path %>
<%= link_to 'Destroy', cheatsheet_path(@cheatsheet),
  method: :delete,
  data: { confirm: 'Are you sure?' } %>
