<div class='margins navigation-link'>
  <h1><%= @cheatsheet.title %> Cheatsheet</h1>

  <h2>
    <%= @cheatsheet.description %>
  </h2>
  <div id='cheat-form'>
    <% if current_user?(@cheatsheet.user) %>
      <h1>Add a cheat:</h1>
      <%= render 'cheats/form' %>

      <%= link_to 'Edit', edit_cheatsheet_path, { :class => 'small-pill-link'} %>
      <%= link_to 'Destroy', cheatsheet_path(@cheatsheet),
        method: :delete,
        data: { confirm: 'Are you sure?' }, :class => 'small-pill-link' %>
    <% end %>
  </div>

  <div class='search'>
    <%= render 'show_search_form' %>
  </div>

  <h1>Cheats</h1>
  <div id='cheat-grid'>
    <%= render 'cheats/sorted_cheats' %>
  </div>
  <%= link_to 'Back', cheatsheets_path, { :class => 'small-pill-link'} %>
</div>
