<%= form_with(model: [ @cheatsheet, @cheatsheet.cheats.build ], local: true) do |form| %>
  <p>
  <%= form.label :term %><br>
  <%= form.text_field :term %>
  </p>
  <p>
  <%= form.label :description %><br>
  <%= form.text_area :description %>
  </p>
  <p>
  <%= form.submit %>
  </p>
<% end %>


